.weather-app {
  max-width: 800px;
}
.container {
  background-color: black;
  color: white;
  border-radius: 16px;
}
.search {
  display: block;
  margin-top: 30px;
  margin-left: 940px;
  padding-bottom: 20px;
  padding-top: 30px;
}
#city-search {
  border-radius: 4px;
  border-width: 1px;
  border-color: #ede7f6;
  background-color: #fff;
}

.fa-input {
  font-family: Ubuntu;
  color: #ede7f6;
}
#main-icon {
  display: flex;
  position: relative;
  margin-left: 220px;
  margin-top: 150px;
  justify-content: center;
  max-width: 550px;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.units .active {
  color: goldenrod;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
#today {
  margin-left: 115px;
  list-style: none;
  position: relative;
}
ul {
  list-style: none;
}
h1 {
  display: block;
  position: relative;
  margin-left: 110px;
  margin-top: 50px;
  text-align: center;
  font-family: Ubuntu;
}
.current-temp {
  text-align: center;
  padding: 16px;
}
h4 {
  font-family: Ubuntu;
  display: block;
  margin: auto;
  margin-left: 105px;
}

.row2 {
  display: block;
  margin-left: 400px;
}
.today-specs {
  display: block;
  position: fixed;
  margin-top: 20px;
  margin-right: 120px;

  font-family: Ubuntu;
}
h6 {
  color: #fff;
  text-transform: capitalize;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-family: Ubuntu;
  padding-top: 15px;
  margin-bottom: 50px;
}
.card {
  max-height: 900px;
  margin-top: 40px;
  margin-bottom: 50px;

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#weekdays {
  display: flex;
  justify-content: center;
  border-radius: 26px;
}

.fa {
  font-size: 40px;
  margin-bottom: 10px;
}

small {
  display: block;
  text-align: right;
  margin-right: 65px;
  color: #aaaaaa;
}
a {
  color: #cecece;
}
