.weather-app {
  max-width: 600px;
}
.container {
  background-color: black;
  color: white;
  border-radius: 16px;
}
.search {
  display: block;
  margin-top: 30px;
  margin-left: 940px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#city-search {
  border-radius: 4px;
  border-width: 1px;
  border-color: #ede7f6;
}
#main-icon {
  font-size: 300px;
  text-align: center;
}
#today {
  margin-left: 115px;
  list-style: none;
  position: relative;
}
h1 {
  display: block;
  position: relative;
  margin: 50px;
  margin-top: 200px;
  text-align: center;
  font-family: Ubuntu;
}
.current-temp {
  text-align: center;
  padding: 16px;
}
h4 {
  font-family: Ubuntu;
  display: block;
  margin: auto;
  margin-left: 105px;
}

.row2 {
  display: block;
  margin-left: 400px;
}
.today-specs {
  display: block;
  margin-top: 600px;
  font-family: Ubuntu;
}
h6 {
  text-transform: capitalize;
  color: white;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-family: Ubuntu;
  padding-top: 15px;
}
.sunday {
  max-height: 60px;
}

.card {
  max-height: 900px;
  margin-top: 40px;
}
.fa {
  font-size: 40px;
  margin-bottom: 10px;
}
